body{
    background-image: url("back.jpg");
    background-size: 100%;

}
#cim{
    background-image: url("panorama.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;

}
.hegy{
    height: 190px;
    vertical-align: middle;
}